body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.relBox {
  position: relative;
  display: block;

  text-align: center;
  width: 15em;
  height: 15em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: rgba(73, 77, 92, 0.9);
  border: 2px solid rgb(163, 163, 175);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
#element {
  display: block;
  margin: 50% auto 0;
  text-align: center;
  position: relative;
  margin-top: 50%;
  transform: translateY(-50%);
}
#contextMenu {
  position: absolute;
  overflow: hidden;
  width: 50%;
  list-style: none;
  padding: 0.5em 0;
  font-size: 0.8em;
  font-weight: 400;
  color: rgba(44, 36, 36, 0.85);
  border: 0.5px solid grey;
  border-radius: 3px;
  background-color: rgb(226, 226, 231);
  cursor: default;
  text-align: left;
}
.customMenu-item {
  padding: 5px;
  width: 100%;
}
.customMenu-item:last-of-type {
  border-top: 1px solid grey;
}

.hidden {
  display: none;
}
